<<<<<<< HEAD

=======
<!DOCTYPE html>
>>>>>>> f7492617324171d7088b84e951ef2c658da1b284
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
<style>
body {
    background-color: lightpink;
    border-style: solid;
    border-width: 5px;
    font-family: "Times New Roman", Times, serif;
      
    }
    #comments {
    background-color: lightyellow;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    -moz-text-decoration-style: wavy;
    text-decoration: underline;
      text-decoration: underline;
    -moz-text-decoration-color: lightpink;
    text-decoration-color: lightpink;
}
h2 {
    background-color: lightyellow;
    padding-left: 30px;
    }
</style>
</head>
<body>
<%= yield %>
</body>
</html>
=======
<body>

<%= yield %>
&copy; Fdisk 2014
</body>
</html>
>>>>>>> f7492617324171d7088b84e951ef2c658da1b284
